/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/* Generic Classes */
.unstyled {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	
	li {
		
	}
}

/* Buttons */
.button {
	margin: 0;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color: #5d6f6a;
	text-decoration: none;
	color: $green !important;
	background: #e6d990;
	background: -moz-linear-gradient(top, #e6d990 0%, #e1d184 28%, #d4be67 76%, #ccb765 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6d990), color-stop(28%, #e1d184), color-stop(76%, #d4be67), color-stop(100%, #ccb765));
	background: -webkit-linear-gradient(top, #e6d990 0%, #e1d184 28%, #d4be67 76%, #ccb765 100%);
	background: linear-gradient(to bottom, #e6d990 0%, #e1d184 28%, #d4be67 76%, #ccb765 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6d990', endColorstr='#ccb765', GradientType=0);
	text-shadow: 0 1px #f4efd9;
	border: 1px solid $green !important;

}

.green-header {
	@include gradient( #6d7d79, #4a605a );
	
	.title {
		background: url('../images/flourish_sm.png') no-repeat 25px center;
		padding: 5px 5px 5px 75px;
		color: #fff;
		font-size: 22px;
	}
}

.yellow-button {
	@extend .button;
}

.label-icon {
	display: block;
	border: solid 1px #6c7c78;
	font-family: 'Buenard', serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 1px #233530;
	@include gradient(#6d7d79, $green);
	
	a,
	a:visited {
		color: #fff;
		font-size: 15px;
		padding: 8px;
	}
	.ic {
		float: left;
		width: 29px;
		height: 26px;
		display: block;
		background: url('../images/spr_icons.png') no-repeat;
		text-indent: -99999em;
	}
}