//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #fff;
$color-link:         #0088cc;
$color-link-visited: #495f5a;
$color-link-hover:   #495f5a;
$green:				 #495f5a;

// Fonts
$font-sans:  "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-serif: "Buenard", Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
